.features {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &__list {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &__title {
    margin: 0 0 9px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      margin-top: 138px;
      margin-bottom: 22px;
      font-size: 21px;
    }
  }

  &__desc {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__item {
    position: relative;
    padding: 10px 0 18px 50px;

    @media (min-width: $tablet-width) {
      width: 28%;
      padding: 15px 15px 38px;
    }

    @media (min-width: $desktop-width) {
      width: 357px;
      padding-bottom: 60px;
    }

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      content: "";
      width: 40px;
      height: 38px;
      background-position: 50% 50%;
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 52px;
        left: calc(50% - 38px);
        width: 76px;
        height: 75px;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    &--features {
      &::before {
        background-image: url("../img/icons/icon-house.svg");

        @media (min-width: $tablet-width) {
          background-size: 75px 72px;
          left: calc(50% - 36px);
        }
      }

      @media (min-width: $tablet-width) {
        padding-left: 20px;
        order: 1;
      }
    }

    &--gift {
      &::before {
        background-image: url("../img/icons/icon-gift.svg");

        @media (min-width: $tablet-width) {
          background-size: 64px 75px;
          left: calc(50% - 42px);
        }
      }

      @media (min-width: $tablet-width) {
        padding-right: 20px;
        order: 3;
      }
    }

    &--food {
      &::before {
        top: 0;
        left: -2px;
        background-image: url("../img/icons/icon-burger.svg");

        @media (min-width: $tablet-width) {
          top: 54px;
          left: calc(50% - 38px);
          background-size: 76px 68px;
        }
      }

      @media (min-width: $tablet-width) {
        order: 2;
      }
    }
  }
}

.features--bg-grey {
  background-color: $color-grey;
  text-align: center;

  .features__item {
    padding-left: 0;
    @include outline(red);
  }

  .features__title {
    @include outline(blue);
  }
}
