.likes {
  position: relative;
  padding-left: 37px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $color-black;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    top: -3px;
    left: 0;
    background: url("../img/icons/like-icon.svg") 50% 50% no-repeat;
  }
}
