.likes {
  position: relative;
  min-width: 32px;
  padding-left: 37px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: $color-black;

  @media (min-width: $desktop-width) {
    color: $color-white;

    path {
      fill: $color-white;
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    top: -6px;
    left: 0;
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      top: -2px;
      left: 5px;
    }

    @media (min-width: $desktop-width) {
      fill: $color-white;
      opacity: 1;
    }
  }
}
