.page-description {
  padding: 20px 0 16px;
  border-bottom: 1px solid $color-grey-dark-2;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    padding: 20px 0 20px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 34px;
  }

  &__title {
    margin: 18px 0 28px;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    color: $color-black;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      margin: 45px 0 32px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 95px;
    }
  }

  &__text {
    margin-bottom: 0;
    line-height: 24px;
  }
}
