.page-header {
  display: flex;
  flex-direction: column;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
  }

  &__logo {
    position: relative;
    height: 56px;
    width: 102px;
    margin: 0 auto;
    order: 2;
    z-index: 2;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: calc(50% - 51px);
    }

    img {
      width: 102px;
      height: 84px;
    }
  }
}
