.page-header {
  display: flex;
  flex-direction: column;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    display: block;
    position: relative;
  }

  &__logo {
    position: relative;
    width: 187px;
    height: 56px;
    margin: 0 auto;
    order: 2;
    z-index: 2;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 0;
      left: calc(50% - 94px);
    }

    @media (min-width: $desktop-width) {
      width: 187px;
      height: 97px;
      left: calc(50% - 93px);
    }

    img {
      width: 102px;
      height: 84px;

      @media (min-width: $desktop-width) {
        width: 187px;
        height: 97px;
      }
    }
  }
}
