.photo {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: $color-black;
    text-transform: uppercase;
  }

  &__author {
    line-height: 24px;
  }
}
