.reasons {
  h2 {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 40px;
    }
  }

  &__wrapper {
    position: relative;
    padding-bottom: 2px;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -37px;
      left: 0;
      height: 37px;
      width: 100%;
      background: url("../img/white-copy.svg") no-repeat 50% 100%;
      background-size: cover;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }
}

.reasons-list {
  background-color: $color-grey;

  @media (min-width: $desktop-width) {
    padding: 0 16px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 28%;
    }

    @media (max-width: $mobile-width-only) {
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: calc(100% - 40px);
        bottom: 0;
        left: 20px;
        border-bottom: 1px solid $color-grey-dark-4;
      }

      &:first-child {
        padding-top: 17px;
        padding-bottom: 10px;
      }

      &:last-child {
        padding-bottom: 10px;

        &::after {
          display: none;
        }
      }
    }
  }
}
