.reasons-image {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &--desc-right {
      grid-template-columns: 2fr 1fr;

      .reasons-image__desc {
        order: 2;
      }
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 21px;
    color: $color-white;
    background-color: $color-blue-light;
    text-transform: uppercase;
    text-align: center;
  }

  h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
  }

  &__image {
    img {
      width: 100%;
    }
  }
}
