.review {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      max-width: 648px;
    }

    @media (min-width: $desktop-width) {
      max-width: 960px;
    }
  }
}
