.site-list {
  list-style: none;

  a {
    display: block;
    color: $color-black;
    font-weight: bold;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: $color-blue-light;
    }

    &:active {
      color: $color-black;
      opacity: 0.3;
    }

    &.active {
      color: $color-brown;

      &:hover,
      &:focus {
        color: $color-brown-dark;
      }

      &:active {
        color: $color-brown;
        opacity: 0.3;
      }
    }
  }
}
