//color
$color-black: #000000;
$color-black-light: #333333;
$color-black-special: rgba(1, 1, 1, 0.2);
$color-black-special-2: rgba(0, 0, 0, 0.2);

$color-white: #ffffff;

$color-blue-light: #81b3d2;
$color-blue: #669ec0;
$color-blue-dark: #5496bd;

$color-grey: #eeeeee;
$color-grey-light: #f2f2f2;
$color-grey-dark: #e6e6e6;
$color-grey-dark-2: #e5e5e5;
$color-grey-dark-3: #d5d5d5;
$color-grey-extra-dark: #666666;

$color-brown: #766357;
$color-brown-dark: #604e43;

//fonts
$PTSans: "PTSans";

// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
